@import "../../../utilities/variables";

@include lg {
    #lectures-index {
        color: white;
        background: url('../../../assets/images/presentation.png') no-repeat;
        background-size: cover;
        background-clip: border-box;
        background-attachment: fixed;
        background-position-x: -235px;
    }
}