@import "../../../utilities/variables";

#ws {
  height: 101vh;
  overflow: auto;
  padding: 6% 4% 4% 4%!important;
  background-color:rgba(0, 0, 0, 0.7);

  .ui.list>.item a {
    cursor: auto;
  }
  
  .ui.list>.item a.header {
    color: white!important;
  }
}
