@import "../../../utilities/variables";

@include lg {
    #publication-index {
        color: white;
        background: url('../../../assets/images/Jaemtland.jpg') no-repeat;
        background-size: cover;
        background-clip: border-box;
        background-attachment: fixed;
    }
}