@import "../../../utilities/variables";

@include lg {
    #publication-index {
        color: white;
        background: url('../../../assets/images/Jaemtland.jpg') no-repeat;
        background-clip: border-box;
        background-attachment: fixed;
        background-position-x: -235px;
        background-position-y: -235px;
        display: flex;
        flex: 1;
        min-height: 100vh;

        a {
            color: $link-color !important;
          }
        
          a:hover {
            color: $link-color-hover !important;
          }
    }
}

