// Utilities
@import "./utilities/variables";
#App {
  margin: 0;

  #header1, #header2{
    color:#55C7FF;
    width: 100%;
  }

  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    color:white;

    .email {
      width: 100%;
      text-align: end;
      padding: 0 2% 0% 0;
      i {
        padding-right: 2%;
      }
    }

    .language-switch {
      display: inline-flex;
      align-items: center;
      margin: 0 2rem;
    }
  }
  
  @include lg {
    #header1, #header2 {
      margin-left: 10rem;
    }
  }
}



.ui.segment {
  border: none !important;
  box-shadow: none !important;
}

.ui.grid {
  margin: 0;
}

.column {
  padding: 0 !important;
}

.sidebar.vertical {
  padding-top: 100px;
}


