// Utilities
@import "./utilities/variables";
#App {
  margin: 0;

  #header1, #header2{
    color: white;
    margin: 0.3rem 0 0 2.2rem;
    width: 100%;
  }

  @include lg {
    #header1, #header2 {
      margin-left: 20rem;
    }
  }
}



.ui.segment {
  border: none !important;
  box-shadow: none !important;
}

.ui.grid {
  margin: 0;
}

.column {
  padding: 0 !important;
}

.sidebar.vertical {
  padding-top: 100px;
}

